In [1]:
import pandas as pd
import numpy as np

data = pd.ExcelFile('Data-All.xlsx')
print(data.sheet_names)
df1 = data.parse('Sheet1')
df1.info()

['Sheet1']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39782 entries, 0 to 39781
Data columns (total 34 columns):
Claim                               39782 non-null int64
Effective Year                      39782 non-null int64
Account                             39782 non-null int64
Market                              39782 non-null object
Sex                                 39778 non-null object
Jurisdiction State                  39781 non-null object
Accident State                      39782 non-null object
Classcode                           39782 non-null object
Class Desription                    39606 non-null object
Occupation                          39782 non-null object
Date of Birth                       39781 non-null datetime64[ns]
Date of Hire                        39782 non-null datetime64[ns]
Accident Date                       39782 non-null datetime64[ns]
Experience Years                    39782 non-null float64
Age at Accident Date                39782 non-null float64
Date Reported to Employer           39782 non-null datetime64[ns]
Report Date                         39782 non-null datetime64[ns]
Date of Disability                  39782 non-null datetime64[ns]
Date Returened to Work              39782 non-null datetime64[ns]
Claim Description                   39781 non-null object
Claim Status                        39782 non-null object
Type of Injury Code                 39782 non-null int64
Type of Injury                      39782 non-null object
Body Part                           39778 non-null object
Body Part Group                     39778 non-null object
Cause of Injury                     39778 non-null object
Case of Injury Group                39778 non-null object
Nature of Injury                    39778 non-null object
Nature of Injury Group              39778 non-null object
Total Incurred Amount               34003 non-null float64
Indemnity                           34003 non-null float64
Medical                             34003 non-null float64
Expenses                            34003 non-null float64
Sum (Medical-Indemnity-Expenses)    34003 non-null float64
dtypes: datetime64[ns](7), float64(7), int64(4), object(16)
memory usage: 10.3+ MB

In [2]:
# Replace the spaces in clumn names to underscore 

df1.columns = df1.columns.str.replace(' ','_')

# conver column headers to lower case

df1.columns = df1.columns.str.lower()

df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39782 entries, 0 to 39781
Data columns (total 34 columns):
claim                               39782 non-null int64
effective_year                      39782 non-null int64
account                             39782 non-null int64
market                              39782 non-null object
sex                                 39778 non-null object
jurisdiction_state                  39781 non-null object
accident_state                      39782 non-null object
classcode                           39782 non-null object
class_desription                    39606 non-null object
occupation                          39782 non-null object
date_of_birth                       39781 non-null datetime64[ns]
date_of_hire                        39782 non-null datetime64[ns]
accident_date                       39782 non-null datetime64[ns]
experience_years                    39782 non-null float64
age_at_accident_date                39782 non-null float64
date_reported_to_employer           39782 non-null datetime64[ns]
report_date                         39782 non-null datetime64[ns]
date_of_disability                  39782 non-null datetime64[ns]
date_returened_to_work              39782 non-null datetime64[ns]
claim_description                   39781 non-null object
claim_status                        39782 non-null object
type_of_injury_code                 39782 non-null int64
type_of_injury                      39782 non-null object
body_part                           39778 non-null object
body_part_group                     39778 non-null object
cause_of_injury                     39778 non-null object
case_of_injury_group                39778 non-null object
nature_of_injury                    39778 non-null object
nature_of_injury_group              39778 non-null object
total_incurred_amount               34003 non-null float64
indemnity                           34003 non-null float64
medical                             34003 non-null float64
expenses                            34003 non-null float64
sum_(medical-indemnity-expenses)    34003 non-null float64
dtypes: datetime64[ns](7), float64(7), int64(4), object(16)
memory usage: 10.3+ MB

In [3]:
# Removal of top of four rows
df2 = df1[4:]
df2.shape

(39778, 34)

In [4]:
# Features to be removed from the data
print('Removing features...')
print(df2.columns[[0, 1, 2, 5, 8, 10, 11, 12, 15, 16, 17, 18, 19, 20, 21, 23, 25, 28, 29, 30, 31, 32, 33]])
df2.drop(df2.columns[[0, 1, 2, 5, 8, 10, 11, 12, 15, 16, 17, 18, 19, 20, 21, 23, 25, 28, 29, 30, 31, 32, 33]], axis=1, inplace=True)

Removing features...
Index(['claim', 'effective_year', 'account', 'jurisdiction_state',
       'class_desription', 'date_of_birth', 'date_of_hire', 'accident_date',
       'date_reported_to_employer', 'report_date', 'date_of_disability',
       'date_returened_to_work', 'claim_description', 'claim_status',
       'type_of_injury_code', 'body_part', 'cause_of_injury',
       'nature_of_injury_group', 'total_incurred_amount', 'indemnity',
       'medical', 'expenses', 'sum_(medical-indemnity-expenses)'],
      dtype='object')

C:\Users\SUJITH KUMAR\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [5]:
# Standardization of features
df2["experience_years"] = (df2["experience_years"]-df2["experience_years"].min()) / (df2["experience_years"].max()-df2["experience_years"].min())
df2["age_at_accident_date"] = (df2["age_at_accident_date"]-df2["age_at_accident_date"].min()) / (df2["age_at_accident_date"].max()-df2["age_at_accident_date"].min())

C:\Users\SUJITH KUMAR\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\SUJITH KUMAR\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [6]:
from sklearn.preprocessing import LabelEncoder

LE = LabelEncoder()

df2['market'] = LE.fit_transform(df2['market'])
df2['type_of_injury'] = LE.fit_transform(df2['type_of_injury'])
df2['case_of_injury_group'] = LE.fit_transform(df2['case_of_injury_group'])
df2['nature_of_injury'] = LE.fit_transform(df2['nature_of_injury'])
df2['body_part_group'] = LE.fit_transform(df2['body_part_group'])
df2['occupation'] = LE.fit_transform(df2['occupation'].astype(str))
df2['accident_state'] = LE.fit_transform(df2['accident_state'])
df2['sex'] = LE.fit_transform(df2['sex'])
df2['classcode'] = LE.fit_transform(df2['classcode'].astype(str))

C:\Users\SUJITH KUMAR\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\SUJITH KUMAR\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\SUJITH KUMAR\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\SUJITH KUMAR\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\SUJITH KUMAR\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\SUJITH KUMAR\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\SUJITH KUMAR\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\SUJITH KUMAR\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
C:\Users\SUJITH KUMAR\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

In [7]:
df2.head()

,market,sex,accident_state,classcode,occupation,experience_years,age_at_accident_date,type_of_injury,body_part_group,case_of_injury_group,nature_of_injury
4,36,1,22,84,7116,0.552271,0.589935,4,4,2,32
5,36,1,45,84,7903,0.557574,0.746223,2,1,2,32
6,25,1,2,13,4020,0.447336,0.506133,0,3,9,32
7,23,1,2,13,4472,0.429462,0.567563,2,1,9,32
8,23,0,2,13,5428,0.429266,0.626362,6,3,2,32

In [8]:
# Standardization

df2["nature_of_injury"] = (df2["nature_of_injury"]-df2["nature_of_injury"].min()) / (df2["nature_of_injury"].max()-df2["nature_of_injury"].min())
df2["accident_state"] = (df2["accident_state"]-df2["accident_state"].min()) / (df2["accident_state"].max()-df2["accident_state"].min())
df2["type_of_injury"] = (df2["type_of_injury"]-df2["type_of_injury"].min()) / (df2["type_of_injury"].max()-df2["type_of_injury"].min())
df2["occupation"] = (df2["occupation"]-df2["occupation"].min()) / (df2["occupation"].max()-df2["occupation"].min())
df2["classcode"] = (df2["classcode"]-df2["classcode"].min()) / (df2["classcode"].max()-df2["classcode"].min())
df2["body_part_group"] = (df2["body_part_group"]-df2["body_part_group"].min()) / (df2["body_part_group"].max()-df2["body_part_group"].min())
df2["market"] = (df2["market"]-df2["market"].min()) / (df2["market"].max()-df2["market"].min())
df2["sex"] = (df2["sex"]-df2["sex"].min()) / (df2["sex"].max()-df2["sex"].min())

C:\Users\SUJITH KUMAR\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\SUJITH KUMAR\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\SUJITH KUMAR\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\SUJITH KUMAR\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\SUJITH KUMAR\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\SUJITH KUMAR\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\SUJITH KUMAR\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\SUJITH KUMAR\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [9]:
df2.head()

,market,sex,accident_state,classcode,occupation,experience_years,age_at_accident_date,type_of_injury,body_part_group,case_of_injury_group,nature_of_injury
4,0.750000,0.5,0.44,0.340081,0.846941,0.552271,0.589935,0.666667,0.666667,2,0.666667
5,0.750000,0.5,0.90,0.340081,0.940609,0.557574,0.746223,0.333333,0.166667,2,0.666667
6,0.520833,0.5,0.04,0.052632,0.478458,0.447336,0.506133,0.000000,0.500000,9,0.666667
7,0.479167,0.5,0.04,0.052632,0.532254,0.429462,0.567563,0.333333,0.166667,9,0.666667
8,0.479167,0.0,0.04,0.052632,0.646037,0.429266,0.626362,1.000000,0.500000,2,0.666667

In [10]:
# Feature Correlation
df2.corr(method ='pearson')

,market,sex,accident_state,classcode,occupation,experience_years,age_at_accident_date,type_of_injury,body_part_group,case_of_injury_group,nature_of_injury
market,1.000000,-0.131597,0.109921,0.317179,-0.029120,-0.015806,-0.060835,-0.015982,-0.011531,-0.011809,-0.014372
sex,-0.131597,1.000000,0.020156,-0.105069,0.089458,0.080778,0.063338,0.042260,0.001403,0.012479,0.027144
accident_state,0.109921,0.020156,1.000000,0.056966,0.024671,-0.007173,-0.017375,0.003359,0.008263,-0.004627,0.009759
classcode,0.317179,-0.105069,0.056966,1.000000,-0.015085,-0.012633,-0.045848,-0.017142,-0.046594,0.032277,-0.008003
occupation,-0.029120,0.089458,0.024671,-0.015085,1.000000,0.023730,0.023205,-0.002473,0.009482,0.000827,0.014629
experience_years,-0.015806,0.080778,-0.007173,-0.012633,0.023730,1.000000,0.392006,0.020766,0.012814,0.001912,0.028123
age_at_accident_date,-0.060835,0.063338,-0.017375,-0.045848,0.023205,0.392006,1.000000,0.120087,0.022330,-0.007908,0.047754
type_of_injury,-0.015982,0.042260,0.003359,-0.017142,-0.002473,0.020766,0.120087,1.000000,0.040702,0.011652,0.069965
body_part_group,-0.011531,0.001403,0.008263,-0.046594,0.009482,0.012814,0.022330,0.040702,1.000000,-0.092311,0.204764
case_of_injury_group,-0.011809,0.012479,-0.004627,0.032277,0.000827,0.001912,-0.007908,0.011652,-0.092311,1.000000,0.086162
nature_of_injury,-0.014372,0.027144,0.009759,-0.008003,0.014629,0.028123,0.047754,0.069965,0.204764,0.086162,1.000000

In [11]:
features = df2.drop('case_of_injury_group', 1)
labels = df2[['case_of_injury_group']]

In [12]:
# Splitting data into train and test
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(features, labels, test_size=0.2, random_state=42)
number_of_train = X_train.shape[0]
number_of_test = X_test.shape[0]
print('Number of train and test data:')
print(number_of_train, number_of_test)

Number of train and test data:
31822 7956

In [13]:
from keras.utils import to_categorical
#one-hot encode target column
train_y_2 = to_categorical(Y_train)

#vcheck that target column has been converted
train_y_2[0:5]

Using TensorFlow backend.

array([[0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.]], dtype=float32)

In [14]:
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation
from keras.optimizers import SGD

#create model
model = Sequential()

#get number of columns in training data
n_cols = X_train.shape[1]

#add layers to model
model.add(Dense(100, activation='relu', input_shape=(n_cols,)))
model.add(Dense(100, activation='relu'))
model.add(Dense(100, activation='relu'))
model.add(Dense(100, activation='relu'))
model.add(Dense(100, activation='relu'))
model.add(Dense(11, activation='softmax'))

In [15]:
#compile model using accuracy to measure model performance
model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

In [16]:
from keras.callbacks import EarlyStopping 
early_stopping_monitor = EarlyStopping(patience=10)

#train model
model.fit(X_train, train_y_2, epochs=30, validation_split=0.2, callbacks=[early_stopping_monitor])

Train on 25457 samples, validate on 6365 samples
Epoch 1/30
25457/25457 [==============================] - 2s 90us/step - loss: 1.5951 - acc: 0.4339 - val_loss: 1.4633 - val_acc: 0.4902
Epoch 2/30
25457/25457 [==============================] - 2s 63us/step - loss: 1.4100 - acc: 0.5101 - val_loss: 1.3506 - val_acc: 0.5306
Epoch 3/30
25457/25457 [==============================] - 2s 62us/step - loss: 1.3564 - acc: 0.5283 - val_loss: 1.3132 - val_acc: 0.5409
Epoch 4/30
25457/25457 [==============================] - 2s 64us/step - loss: 1.3272 - acc: 0.5358 - val_loss: 1.3237 - val_acc: 0.5386
Epoch 5/30
25457/25457 [==============================] - 2s 69us/step - loss: 1.3182 - acc: 0.5391 - val_loss: 1.2884 - val_acc: 0.5482
Epoch 6/30
25457/25457 [==============================] - 2s 66us/step - loss: 1.2971 - acc: 0.5447 - val_loss: 1.2776 - val_acc: 0.5562
Epoch 7/30
25457/25457 [==============================] - 2s 65us/step - loss: 1.2843 - acc: 0.5470 - val_loss: 1.2950 - val_acc: 0.5390
Epoch 8/30
25457/25457 [==============================] - 2s 79us/step - loss: 1.2788 - acc: 0.5523 - val_loss: 1.2518 - val_acc: 0.5576
Epoch 9/30
25457/25457 [==============================] - 2s 73us/step - loss: 1.2674 - acc: 0.5543 - val_loss: 1.2573 - val_acc: 0.5549
Epoch 10/30
25457/25457 [==============================] - 2s 67us/step - loss: 1.2631 - acc: 0.5536 - val_loss: 1.2722 - val_acc: 0.5519
Epoch 11/30
25457/25457 [==============================] - 2s 67us/step - loss: 1.2583 - acc: 0.5596 - val_loss: 1.2657 - val_acc: 0.5532
Epoch 12/30
25457/25457 [==============================] - 2s 65us/step - loss: 1.2472 - acc: 0.5585 - val_loss: 1.2605 - val_acc: 0.5581
Epoch 13/30
25457/25457 [==============================] - 2s 66us/step - loss: 1.2474 - acc: 0.5608 - val_loss: 1.2716 - val_acc: 0.5540
Epoch 14/30
25457/25457 [==============================] - 2s 72us/step - loss: 1.2385 - acc: 0.5636 - val_loss: 1.2400 - val_acc: 0.5631
Epoch 15/30
25457/25457 [==============================] - 2s 77us/step - loss: 1.2374 - acc: 0.5628 - val_loss: 1.2383 - val_acc: 0.5692
Epoch 16/30
25457/25457 [==============================] - 2s 70us/step - loss: 1.2359 - acc: 0.5631 - val_loss: 1.2348 - val_acc: 0.5618
Epoch 17/30
25457/25457 [==============================] - 2s 76us/step - loss: 1.2281 - acc: 0.5641 - val_loss: 1.2319 - val_acc: 0.5610
Epoch 18/30
25457/25457 [==============================] - 2s 72us/step - loss: 1.2259 - acc: 0.5628 - val_loss: 1.2180 - val_acc: 0.5656
Epoch 19/30
25457/25457 [==============================] - 2s 69us/step - loss: 1.2272 - acc: 0.5627 - val_loss: 1.2214 - val_acc: 0.5623
Epoch 20/30
25457/25457 [==============================] - 2s 73us/step - loss: 1.2296 - acc: 0.5653 - val_loss: 1.2617 - val_acc: 0.5615
Epoch 21/30
25457/25457 [==============================] - 2s 77us/step - loss: 1.2196 - acc: 0.5655 - val_loss: 1.2538 - val_acc: 0.5678
Epoch 22/30
25457/25457 [==============================] - 2s 71us/step - loss: 1.2131 - acc: 0.5682 - val_loss: 1.2288 - val_acc: 0.5664
Epoch 23/30
25457/25457 [==============================] - 2s 68us/step - loss: 1.2120 - acc: 0.5691 - val_loss: 1.2410 - val_acc: 0.5626
Epoch 24/30
25457/25457 [==============================] - 2s 66us/step - loss: 1.2102 - acc: 0.5698 - val_loss: 1.2334 - val_acc: 0.5687
Epoch 25/30
25457/25457 [==============================] - 2s 67us/step - loss: 1.2095 - acc: 0.5692 - val_loss: 1.2541 - val_acc: 0.5601
Epoch 26/30
25457/25457 [==============================] - 2s 64us/step - loss: 1.2057 - acc: 0.5730 - val_loss: 1.2271 - val_acc: 0.5661
Epoch 27/30
25457/25457 [==============================] - 2s 66us/step - loss: 1.2030 - acc: 0.5702 - val_loss: 1.2371 - val_acc: 0.5675
Epoch 28/30
25457/25457 [==============================] - 2s 72us/step - loss: 1.2019 - acc: 0.5716 - val_loss: 1.2261 - val_acc: 0.5668